body {
	background: linear-gradient(to right, var(--color1), var(--color2));
	display: flex;
	flex-direction: column;
	align-items: center;
	font: sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	top: 15%;
}

h1 {
	font: 600 3.5em sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	width: 100%;
}

h2 {
	font: 900 1em sans-serif;
}

h3 {
	font: 900 1em sans-serif;
	color: rgba(0,0,0,0.5);
	padding: 0.5em;
	margin-top: 0px;
	background-color:linear-gradient(to right, #ca88fa, #35b6d9);
	text-transform: none;
	letter-spacing: 0.01em;
}

.inputcontainer {
	display: flex;
}

.section1container {
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 200px;
	border: 5px solid black;
	border-radius: 10px; 
	margin-right: 10px;
}

.colorinputcontainer {
	display: flex;
	justify-content: center;
}

.gapbetweencolorinputs {
	width: 20px;
}

.section2container {
	display: flex;
	flex-direction: column;
	align-items: center; 
	height: 200px;
	width: 200px;
	border: 5px solid black;
	border-radius: 10px; 
	margin-left: 10px;
}

.buttoncontainer {
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: 220px;
}

.generatebutton {
	background-color: rgba(255,0,0,0.4);
	color: white;
	height: 40px;
	width: 100px;
	border: 2px solid black;
	border-radius: 10px;
	cursor: pointer; 
}

.copybutton {
	background-color: rgba(0,0,255,0.4);
	color: white;
	height: 40px;
	width: 100px;
	border-width: 100px solid blue;
	border-radius: 10px;
	cursor: pointer;
}

.generatebutton:hover {
	background-color: rgba(255,255,255,0.1);
}

.copybutton:hover {
	background-color: rgba(255,255,255,0.1);
}